---
// Contenido Desktop
import { 
	BlockText, ImageShadow, SvgText, ImageDouble, 
	Badge, ContactForm, Accordion
} from "@/components";
import { FooterDesktop } from "@/layout";
import { getEntry } from 'astro:content';

const homeContent = await getEntry('home', 'es');
const formContent = await getEntry('form', 'es');

const formTexts = {
	nameLabel: formContent?.data.name_label ?? "",
	namePlaceholder: formContent?.data.name_placeholder ?? "",
	improveLabel: formContent?.data.improve_label ?? "",
	improvePlaceholder: formContent?.data.improve_placeholder ?? "",
	experienceLabel: formContent?.data.experience_label ?? "",
	experiencePlaceholder: formContent?.data.experience_placeholder ?? "",
	locationLabel: formContent?.data.location_label ?? "",
	locationOption1: formContent?.data.location_option_1 ?? "",
	locationOption2: formContent?.data.location_option_2 ?? "",
	locationOption3: formContent?.data.location_option_3 ?? "",
	emailLabel: formContent?.data.email_label ?? "",
	emailPlaceholder: formContent?.data.email_placeholder ?? "",
	submitButton: formContent?.data.submit_button ?? "",
	errorNameRequired: formContent?.data.error_name_required ?? "",
	errorImproveRequired: formContent?.data.error_improve_required ?? "",
	errorEmailRequired: formContent?.data.error_email_required ?? "",
	errorEmailInvalid: formContent?.data.error_email_invalid ?? "",
	errorLocationRequired: formContent?.data.error_location_required ?? "",
	successMessage: formContent?.data.success_message ?? "",
	captchaLabel: formContent?.data.captcha_label ?? "",
	errorCooldown: formContent?.data.error_cooldown ?? "",
	cooldownInfo: formContent?.data.cooldown_info ?? "",
	info_2: formContent?.data.info_2 ?? "",
};

export const prerender = true;
---

<section class="w-full h-fit sm:hidden xl:block p-4 mb-20">
	<section class="flex justify-start items-start w-full h-max gap-2 ">
		<article class="w-1/3 h-full">
			<SvgText svgSrc="/images/papaya.svg" className="max-w-60"/>
			<BlockText text={homeContent?.data.intro_desk_1 ?? ""} />
			<BlockText className="mt-3" text={homeContent?.data.intro_desk_2 ?? ""} />
			<BlockText className="mt-3" text={homeContent?.data.intro_desk_3 ?? ""} />
			<BlockText className="mt-3" text={homeContent?.data.intro_desk_4 ?? ""} />
		</article>
		<article class="w-1/3 h-full flex justify-center items-center">
			<ImageShadow
				src="/images/torrescyberpunk.webp"
				alt="Centro Astro Bog"
				author="@lumiere.atelier.co"
				className="xl:h-150 w-[80%]"
			/>
		</article>
		<article class="w-1/3 h-full">
			<SvgText svgSrc="/images/mosca.svg" className="max-w-60"/>
			<BlockText text={homeContent?.data.intro_desk_5 ?? ""} />
			<BlockText className="mt-3" text={homeContent?.data.intro_desk_6 ?? ""} />
		</article>
	</section>
	<section class="w-full h-max flex justify-start items-start">
		<article class="w-[30%]">
			<ImageDouble
				src1="/images/torresdelparque1.jpg"
				alt1="Centro Astro Bog"
				src2="/images/yoazano.webp"
				alt2="Centro Astro Bog"
				author="@lumiere.atelier.co"
				className="xl:h-150 w-[80%]"
			/>
		</article>
		<article class="w-[70%] flex justify-start items-start flex-col">
			<div class="w-100 max-w-100">
				<SvgText svgSrc="/images/vivo.svg" className="max-w-60"/>
			</div>
			<div class="w-200 max-w-200">
				<BlockText className="mt-3" text={homeContent?.data.intro_desk_7 ?? ""} />
				<BlockText className="mt-4" text={homeContent?.data.intro_desk_8 ?? ""} />
				<BlockText className="mt-4" text={homeContent?.data.intro_desk_9 ?? ""} />
				<BlockText className="mt-6" text={homeContent?.data.intro_desk_10 ?? ""} />
				<br>
				<br>
				<a href="https://www.azanorivers.com" target="_blank" class="mt-6 pl-2 font-lato text-ninja-dark-pink text-2xl font-semibold scroll-reveal-slow">
					AzanoRivers.
				</a>
			</div>
		</article>
	</section>
	<section class="w-full h-max flex justify-start items-start">
		<article class="w-[60%] flex justify-start items-start flex-col">
			<div class="w-100 max-w-100">
				<SvgText svgSrc="/images/firme.svg" className="max-w-60"/>
			</div>
			<div class="w-200 max-w-200">
				<BlockText className="mt-3" text={homeContent?.data.intro_desk_11 ?? ""} />
				<BlockText className="mt-4" text={homeContent?.data.intro_desk_12 ?? ""} />
				<BlockText className="mt-4" text={homeContent?.data.intro_desk_13 ?? ""} />
				<BlockText className="mt-6" text={homeContent?.data.intro_desk_14 ?? ""} />
			</div>
			<div class="w-100 max-w-100">
				<SvgText svgSrc="/images/deuna.svg" className="max-w-60"/>
			</div>
			<div class="w-200 max-w-200">
				<BlockText className="mt-3" text={homeContent?.data.intro_desk_15 ?? ""} />
			</div>
		</article>
		<article class="w-[40%]">
			<ImageShadow
				src="/images/torrescyberpunk3.webp"
				alt="Centro Astro Bog"
				author="@lumiere.atelier.co"
				className="xl:h-180 w-100"
			/>
		</article>
	</section>
	<section class="w-full h-max flex justify-center items-center">
		<article class="w-[50%] h-full mt-6 scroll-reveal">
			<Badge message={homeContent?.data.warning_1 ?? ""} />
		</article>
	</section>
	<section id="formulario-desktop" class="w-full h-max flex justify-center items-center">
		<article class="w-[50%] h-full mt-6 mb-6 scroll-reveal">
			<Accordion title="¡Vamos! - Toca aquí">
				<ContactForm client:load texts={formTexts} />
			</Accordion>
		</article>
	</section>
	<!-- Footer Desktop-->
	<FooterDesktop />
</section>
