---
import {  
	BlockText, ImageShadow, SvgText, ImageDouble, 
	Badge, ContactForm, Accordion, SvgLine, TelegramButton
} from "@/components";
import { FooterMobile } from "@/layout";
import { getEntry } from 'astro:content';

const homeContent = await getEntry('home', 'es');
const formContent = await getEntry('form', 'es');

const formTexts = {
	nameLabel: formContent?.data.name_label ?? "",
	namePlaceholder: formContent?.data.name_placeholder ?? "",
	improveLabel: formContent?.data.improve_label ?? "",
	improvePlaceholder: formContent?.data.improve_placeholder ?? "",
	experienceLabel: formContent?.data.experience_label ?? "",
	experiencePlaceholder: formContent?.data.experience_placeholder ?? "",
	locationLabel: formContent?.data.location_label ?? "",
	locationOption1: formContent?.data.location_option_1 ?? "",
	locationOption2: formContent?.data.location_option_2 ?? "",
	locationOption3: formContent?.data.location_option_3 ?? "",
	emailLabel: formContent?.data.email_label ?? "",
	emailPlaceholder: formContent?.data.email_placeholder ?? "",
	submitButton: formContent?.data.submit_button ?? "",
};

export const prerender = true;
---

<section class="w-full h-fit xl:hidden px-2 sm:mb-10 lg:mb-4">
	<SvgText svgSrc="/images/papaya.svg" className="mt-10 sm:max-w-40 md:max-w-50 lg:max-w-60"/>
	<article class="w-full xl:h-dvh sm:mt-4 md:mt-6 lg:mt-8 h-max mystic-shadow">
		<ImageShadow
			src="/images/torrescyberpunk.webp"
			alt="Centro Astro Bog"
			author="@lumiere.atelier.co"
			className="sm:float-right w-1/2 sm:h-80 md:h-90 lg:h-100"
		/>
		<BlockText text={homeContent?.data.intro_3 ?? ""} />
		<BlockText className="mt-3" text={homeContent?.data.intro_4 ?? ""} />
		<BlockText className="mt-3" text={homeContent?.data.intro_5 ?? ""} />
	</article>
	<SvgText svgSrc="/images/mosca.svg" className="sm:max-w-40 md:max-w-50 lg:max-w-60"/>
	<article class="w-full xl:h-dvh sm:mt-4 md:mt-6 lg:mt-8 h-max mystic-shadow">
		<ImageDouble
			src1="/images/torresdelparque1.jpg"
			alt1="Centro Astro Bog"
			src2="/images/yoazano.webp"
			alt2="Centro Astro Bog"
			author="@lumiere.atelier.co"
			className="sm:float-right w-1/2 sm:h-80 md:h-90 lg:h-100"
		/>
		<BlockText text={homeContent?.data.intro_6 ?? ""} />
		<BlockText className="mt-3" text={homeContent?.data.intro_7 ?? ""} />
		<BlockText className="mt-3" text={homeContent?.data.intro_8 ?? ""} />
	</article>
	<SvgText svgSrc="/images/vivo.svg" className="sm:max-w-40 md:max-w-50 lg:max-w-60"/>
	<article class="w-full xl:h-dvh sm:mt-4 md:mt-6 lg:mt-8 h-max mystic-shadow">
		<ImageShadow
			src="/images/torrescyberpunk3.webp"
			alt="Centro Astro Bog"
			author="@lumiere.atelier.co"
			className="sm:float-left w-1/2 sm:h-80 md:h-90 lg:h-100"
		/>
		<BlockText className="mt-3" text={homeContent?.data.intro_9 ?? ""} />
		<BlockText className="mt-3 sm:pb-0 md:pb-2 lg:pb-16" text={homeContent?.data.intro_10 ?? ""} />
	</article>
	<br>
	<BlockText className="mt-3 md:mt-10 lg:mt-8" text={homeContent?.data.intro_11 ?? ""} />
	<SvgText svgSrc="/images/firme.svg" className="sm:max-w-40 md:max-w-50 lg:max-w-60"/>
	<article class="w-full xl:h-dvh sm:mt-4 md:mt-6 lg:mt-8 h-max mystic-shadow">
		<ImageShadow
			src="/images/monserratewebp.webp"
			alt="Centro Astro Bog"
			author="@_streettones_pb"
			className="sm:float-right w-1/2 sm:h-80 md:h-90 lg:h-100"
		/>
		<BlockText className="mt-3" text={homeContent?.data.intro_12 ?? ""} />
		<a href="https://www.azanorivers.com" target="_blank" class="block pl-2 font-lato text-ninja-dark-pink sm:text-base md:text-lg lg:text-xl font-semibold scroll-reveal">
			AzanoRivers.
		</a>
		<BlockText className="mt-2" text={homeContent?.data.intro_13 ?? ""} />
		<BlockText className="mt-3 sm:pb-0 md:pb-2 lg:pb-16" text={homeContent?.data.intro_14 ?? ""} />
	</article>
	<br>
	<BlockText className="mt-3 md:mt-4 lg:mt-8" text={homeContent?.data.intro_15 ?? ""} />
	<BlockText className="mt-3" text={homeContent?.data.intro_16 ?? ""} />
	<SvgText svgSrc="/images/deuna.svg" className="sm:max-w-40 md:max-w-50 lg:max-w-60"/>
	<BlockText className="mt-3" text={homeContent?.data.intro_17 ?? ""} />
	<article class="w-full h-max scroll-reveal sm:mt-8 md:mt-6 lg:mt-4">
		<Badge message={homeContent?.data.warning_1 ?? ""} />
	</article>
	<article class="w-full h-max scroll-reveal sm:mt-8 md:mt-6 sm:mb-8 lg:mb-24">
		<Accordion title="¡Vamos! - Toca aquí" defaultOpen={false}>
			<ContactForm client:load texts={formTexts} />
		</Accordion>
	</article>
	<!-- Footer Mobile-->
	<FooterMobile className="xl:hidden" />
</section>
